<!-- Landing -->
<div
  class="relative mb-12 h-[90vh] bg-landing-image bg-no-repeat bg-cover flex justify-center items-center"
>
  <div class="">
    <img src="/assets/design-elements/Logo.png" alt="" class="h-32" />
  </div>
  <img
    src="/assets/design-elements/img-transition1.svg"
    alt=""
    class="absolute block h-auto bottom-0"
  />
</div>

<!-- Introduction -->
<div class="text-center max-w-4xl mx-auto mb-16">
  <p class="text-3xl mb-4">Spania Bosted Businiss Portal</p>
  <p class="text-xl">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of
  </p>
</div>

<!-- Contact -->
<div class="bg-secondary">
  <div class="max-w-5xl mx-auto py-12">
    <p class="text-2xl mb-8 text-center">
      Har du et problem? Kontakt en av støtte avdelingene våres!
    </p>
    <div class="flex gap-x-20 mx-auto w-fit text-white relative">
      <button class="btn-accent">IT-Support</button>
      <button class="btn-accent">HR avdeling</button>
    </div>
  </div>
</div>

<!-- About Spania Bosted -->
<div class="bg-accent text-white mb-12">
  <div class="py-8 flex gap-x-16 max-w-5xl mx-auto">
    <img src="/assets/images/home-office.jpg" alt="" class="rounded" />
    <div class="flex-col flex justify-between">
      <div>
        <p class="text-3xl mb-6">Spania Bosted</p>
        <p class="text-xl">
          
          Spania Bosted er et norsk eiendomsmeglerfirma som spesialiserer seg på
          å hjelpe kunder med å finne og kjøpe drømmeboligen i Spania. Vi tilbyr
          tjenester innenfor rådgivning, forhandlinger, finansiering og juridisk
          bistand for å sikre en smidig og trygg prosess for våre kunder.
        </p>
      </div>
      <button class="btn-secondaryAccent w-fit !rounded-full">
        Spania Bosted
      </button>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="max-w-7xl mx-auto block justify-center mb-12">
  <p class="text-5xl text-center mb-12">Våre tilgjenglige prosjekter</p>
  <app-available-projects></app-available-projects>
</div>

<!-- Our Team -->
<div class="bg-offWhite mb-12 py-12">
  <div class="max-w-7xl mx-auto">
    <p class="text-5xl text-center mb-12">Våre ansatte</p>
    <app-our-team></app-our-team>
  </div>
</div>
