<!-- Landing -->
<div
  class="bg-landing-image relative mb-12 flex h-[90vh] items-center justify-center bg-cover bg-no-repeat"
>
  <div class="">
    <img src="/assets/design-elements/Logo.png" alt="" class="h-32" />
  </div>
  <img
    src="/assets/design-elements/img-transition1.svg"
    alt=""
    class="absolute bottom-0 block h-auto"
  />
</div>

<!-- Introduction -->
<div class="mx-auto mb-16 max-w-4xl text-center">
  <p class="mb-4 text-3xl">Spania Bosted Businiss Portal</p>
  <p class="text-xl">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of
  </p>
</div>

<!-- Contact -->
<div class="bg-secondary">
  <div class="mx-auto max-w-5xl py-12">
    <p class="mb-8 text-center text-2xl">
      Har du et problem? Kontakt en av støtte avdelingene våres!
    </p>
    <div class="relative mx-auto flex w-fit gap-x-20 text-white">
      <button class="btn-accent">IT-Support</button>
      <button class="btn-accent">HR avdeling</button>
    </div>
  </div>
</div>

<!-- About Spania Bosted -->
<div class="mb-12 bg-accent text-white">
  <div class="mx-auto flex max-w-5xl gap-x-16 py-8">
    <img src="/assets/images/home-office.jpg" alt="" class="rounded" />
    <div class="flex flex-col justify-between">
      <div>
        <p class="mb-6 text-3xl">Spania Bosted</p>
        <p class="text-xl">
          Spania Bosted er et norsk eiendomsmeglerfirma som spesialiserer seg på
          å hjelpe kunder med å finne og kjøpe drømmeboligen i Spania. Vi tilbyr
          tjenester innenfor rådgivning, forhandlinger, finansiering og juridisk
          bistand for å sikre en smidig og trygg prosess for våre kunder.
        </p>
      </div>
      <button class="btn-secondaryAccent w-fit !rounded-full">
        Spania Bosted
      </button>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="mx-auto mb-12 block max-w-7xl justify-center">
  <p class="mb-12 text-center text-5xl">Våre tilgjenglige prosjekter</p>
  <app-available-projects></app-available-projects>
</div>

<!-- Our Team -->
<div class="mb-12 bg-offWhite py-12">
  <div class="mx-auto max-w-7xl">
    <p class="mb-12 text-center text-5xl">Våre ansatte</p>
    <app-our-team></app-our-team>
  </div>
</div>
